* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
}

aside {
    padding: 1rem;
    text-align: center;
    height: 100%;
    width: 25%;
    border: dashed 1px #333;
    display: block;
    flex-direction: row;
    position: fixed;
    top: 6.3%;
    right: 75%;
    width: 25%;
    height: 100%;
}

aside .search-history {
    color: white;
}

aside form {
    display: flex;
    flex-direction: column;
}

input, button {
    width: 100%;
    margin: 2% 0;
    padding: 1%;
}

main {
    background-color: #fff;
    color: #333;
    padding: 1rem;
    text-align: left;
    border: dashed 1px #333;
    position: relative;
    top: 6.3%;
    left: 25%;
    width: 75%;
    height: 90vh;
}



main .forecast .forecast-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

main .forecast .sub {
    display: inline-block;
    flex-direction: row;
    background-color: slategray;
    margin: 10px;
}